@import url(./__copyright/footer__copyright.css);
@import url(./__nav/footer__nav.css);
@import url(./__socials/footer__socials.css);

.footer {
  display: flex;
  align-items: center;
  padding: 1em 100px;
  min-height: 80px;
  box-sizing: border-box;
}

@media screen and (max-width: 995px) {
  .footer {
    padding: 1em 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 1em 16px;
    flex-wrap: wrap;
  }
}
