.chart__val_caption.chart__val_caption {
  color: inherit;
  background: transparent;
  font-weight: normal;
  line-height: normal;
  width: 100%;
  padding-left: 0;
}

.chart__val_caption.chart__val_caption::before {
  content: none;
}
