@import url(./__logo/panel__logo.css);
@import url(./__nav/panel__nav.css);

.panel {
  display: flex;
  min-height: 80px;
  background: rgba(196, 196, 196, 0.01);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .panel {
    min-height: 56px;
  }
}

@media screen and (max-width: 414px) {
  .panel {
    flex-direction: column;
  }
}
