.section__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 64px;
  font: bold 1.8rem/1.35 'Roboto', Arial, sans-serif;
}

@media screen and (max-width: 995px) {
  .section__head {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .section__head {
    display: block;
    margin-bottom: 16px;
  }
}
